.navbar-style{
  background-color: rgb(226, 201, 168);
}
.logo-img-style{
  height: 50px;
  Width: 50px;
}
.logo-text-style{
  margin: -21px 0px 0px 50px;
}
*{
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
}